.SingleBlogScreen {
  flex: 1;
}


.blogDetails {
  margin-block: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  color: var(--color-black);
}

.btns {
  display: flex;
  gap: 1em;
  color: var(--color-dark);
  font-size: 1.3em;
  padding-bottom: 10px;
}
.btns span:hover{
  cursor: pointer;
  color: var(--color-black);
}
.post {
  font-size: .9em;
  line-height: 2em;
  max-width: 620px;
}