.SingleBlogScreen {
  flex: 1;
}


.blogDetails {
  margin-block: 1em;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btns {
  display: flex;
  gap: 5px;
}
