.posts {
    padding-top: 3.3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 5.3rem;
    font-size: 1em;
}
.post {
    flex: 0 0 48%;
    padding: 1rem;
    margin-bottom: 1rem;
    
}
.postCoverImage img{
 border-radius: 5px;
}
.postTitle {
    margin-top: var(--space-14);
    font-weight: 400;
    font-size: 1.8em;
}
.postBottom {
    color: var(--dark-gray);
    font-size: .9em;
}
.border {
    margin-block: 10px;
}