/* Define reusable media queries as custom properties */
:root {
  --breakpoint-xsmall:  479px;
  --breakpoint-small:  767px;
  --breakpoint-medium: 1023px;
  --breakpoint-large: 1024px;
  --breakpoint-xlarge: 1280px;
}
/* Default container width for small screens (mobile-first) */
.container {
    width: 90%; /* Default width for very small screens */
    padding-inline: 1em;
    margin-inline: auto;

  }
  
  /* Small Devices (Landscape Phones) */
  @media (min-width: 480px) {
    .container {
        width: 90%;
        padding-inline: 3em;
    }
  }
  
  /* Medium Devices (Tablets) */
  @media (min-width: 780px) {
    .container {
        width: 680px;
    }
  }
  
  /* Large Devices (Desktops) */
  @media (min-width: 1160px) {
    .container {
        width: 960px;
    }
  }


  /* =========== */
     /* Font Utilities  */
  /* =========== */
  .merriweather-light {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .merriweather-bold {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .merriweather-black {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .merriweather-light-italic {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .merriweather-regular-italic {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .merriweather-bold-italic {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .merriweather-black-italic {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
  }

  .heading-1 {
    font-size: 2em; /* Default font size */
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
  }

  @media (min-width: 460px) {
    .heading-1{
      font-size: 3em;
    }
  }
  
  @media (min-width: 769px) {
    .heading-1 {
      font-size: 5em; /* Font size for screens above 640px */
    }
  }

  .heading-4 {
    
      font-family: "Playfair Display", serif;
  }



  /* LAYOUT */

.flex {
    display: flex;
    align-items: center;
}

.truncate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}