/* Define reusable media queries as custom properties */
:root {
  --breakpoint-xsmall: 479px;
  --breakpoint-small: 767px;
  --breakpoint-medium: 1023px;
  --breakpoint-large: 1024px;
  --breakpoint-xlarge: 1280px;
}
/* Default container width for small screens (mobile-first) */
.Container {
  width: 90%; /* Default width for very small screens */
  padding-inline: 1em;
  margin-inline: auto;
  padding-bottom: 10em;
  padding-top: 5em;
}
.main {
  min-height: 80vh;
  padding-bottom: 8em;
}

/* Small Devices (Landscape Phones) */
@media (min-width: 480px) {
  .Container {
    /* // width: 90%; */
    padding-inline: 3em;
  }
}

/* Medium Devices (Tablets) */
@media (min-width: 780px) {
  .container {
    width: 680px;
  }
}

/* Large Devices (Desktops) */
@media (min-width: 1160px) {
  .Container {
    width: 1160px;
  }
}

/* =========== */
/* Font Utilities  */
/* =========== */
.merriweather-light {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}

.merriweather-regular {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather-bold {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}

.merriweather-black {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
}

.merriweather-light-italic {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
}

.merriweather-regular-italic {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: italic;
}

.merriweather-bold-italic {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: italic;
}

.merriweather-black-italic {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
}

/* LAYOUT */

.flex {
  display: flex;
  align-items: center;
}

.truncate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
/*post createdAt (date*/
.createdAt {
  font-size: 0.8em;
}
.fontSize09em {
  font-size: 0.9em;
}

/*
-[ HEADING ] 
*/

.heading {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}

.heading-1 {
  font-size: 2em; /* Default font size */
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}

@media (min-width: 460px) {
  .heading-1 {
    font-size: 3em;
  }
}

@media (min-width: 769px) {
  .heading-1 {
    font-size: 4em; /* Font size for screens above 640px */
  }
}

.heading-2 {
  font-size: 1em; /* Default font size */
}

@media (min-width: 460px) {
  .heading-2 {
    font-size: 2em;
  }
}

@media (min-width: 769px) {
  .heading-2 {
    font-size: 3em; /* Font size for screens above 640px */
  }
}

.heading-4 {
  font-family: "Playfair Display", serif;
}

/* LEFT-> CONTENT , RIFHT => ASIDE ( Ads anf Reommanded ) */
.main-2-column {
  display: flex;
  gap: 4em;
  padding: 0;
}
@media (max-width: 860px) {
  .main-2-column {
    display: block;
  }
}

/* ROBOTO*/
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  font-size: 0.875em;
  background: #000000de;
  color: #77f8bc;
  padding: 1em;
  max-width: max-content;
}
.