.userProfileInfo {
  padding-top: 3em;
}

.profilePicture img {
  border-radius: 20px;
}
.socials {
  display: flex;
  gap: 1.5em;
  margin-top: 10px;
  font-size: 2em;
}
@media (min-width: 700px) {
  .profileInfo {
    display: flex;
    gap: 20px;
  }
  .profileRight {
    margin-top: 3em;
    flex: 1;
}

}

.profilePicture {
  flex: 1;
}