.button {
  outline: none;
  border: none;
  width: 150px;
  padding: 0.5em;
  margin-top: 1em;
  transition: .4s;
}
.button:hover {
    opacity: .8;
}

.buttonPost {
  background-color: var(--color-green);
  color: var(--color-white);
}
.update {
  background: black;
  color: #fff;
  border-radius: 10px;
  font-size: 0.9em;
  font-family: "Playfair Display";
}
