.button {
    outline: none;
    border:none;
    width: 150px;
    padding: .5em;
    margin-top: 1em;

}

.buttonPost {
    background-color: #4f97a3;
    color: var(--color-white);

}
.buttonUpload {

}