.featuredCard {
  gap: 1.5em;
  margin-block: var(--space-6);
  align-items: flex-start;
  cursor: pointer;
}
.featuredTitle {
  margin: 0;
  color: #4f97a3;
}
.postDetails {
  flex: 1;
}

.card:hover {
  cursor: pointer;
}

.featuredTitle {
  font-size: 1.3rem;
}
.summary {
  margin-top: 10px;
}
.coverImage {
 flex-basis: 30%;
}
.coverImage img {
  height: 100%;
}
