.featuredCard {
  gap: 1.5em;
  margin-block: var(--space-6);
  align-items: flex-start;
}
.featuredTitle {
  margin: 0;
}
.postDetails {
  flex-grow: 1;
}
.postInfo {
  margin-bottom: var(--space-2);
}

.card:hover {
  cursor: pointer;
}

.featuredTitle {
  font-size: 1.3rem;
  font-weight: 700;
}
.summary {
  font-size: 0.8rem;
  margin-bottom: 5px;
}
