.lead {
  cursor: pointer;
  padding-bottom: var(--space-2);
}
.leadImage {
  max-width: 100%;
  height: 100%;
}
.metadataContainer {
  padding: 10px;
}
.metadataContainer p {
  text-decoration: underline;
  font-size: 2rem;
  font-weight: 400;
}
.details {
  margin-block: 2em;
}
.postDetails {
  margin-block: 2em;
}
.title {
  font-size: 3em;
}