.label {
  display: flex;
  padding: 0.5em;
  border-radius: 5px;
  width: 190px;
  align-items: center;
  gap: 5px;
  align-items: center;
  cursor: pointer;
  transition: 0.4s linear;
}
.label:hover {
  color: var(--color-black-light);
}
.upload {
  display: flex;
  align-items: center;
  gap: 10px;
}
