.footer {
    background-color: var(--color-golden);
    padding-block: 5em;
    color: var(--color-black-light);



}
.footerContent {
    max-width: 1380px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    gap: 3em;
    align-items: start;
}

.footer-items {
  
}

.footer-items li:hover {
    color: var(--secondary-color);

}
.footer-rights {
    margin-top: 5em;
    text-align: center;
} 