.hero {
  background-color: var(--color-green);
  color: var(--color-white);
}

.btns {
  margin-top: 1em;
  display: flex;
  gap: 10px;
}

.btn {
  font-size: 0.8em;
  color: white;
  padding: 0.5em;
  width: 150px;
  transition: 0.7s;
  text-align: center;
  box-sizing: border-box;
}
.btnTransparent {
  background: transparent;
  border: 1px solid #ffffff;
}
.btnNonTransparent {
  background: var(--color-white);
  color: var(--color-dark);
  border: none;
}

.btnTransparent:hover {
  color: #000;
  background: #ffffff;
}

.mainTagLine {
  font-weight: 900;
}
@media (min-width: 460px) {
  .mainTagLine {
    line-height: 65px;
  }
}
.subTagLine {
  letter-spacing: 2px;
  display: block;
}
