
@import url("./styles/cssreset.css");
@import url("./styles/utilities.css");

:root {
  --primary-color: #000;
  --black-color: #000;
  --secondary-color: #ff8c57;

  --color: #ffff4ade;
 
    --space-2: 2rem;
    --space-4: 4rem;
    --space-6: 6rem;
    --space-8: 8rem;
    --space-10: 10rem;
    --space-12: 12rem;
    --space-14: 14rem;
    --space-16: 16rem;
    --space-18: 18rem;
    --space-20: 20rem;
    --space-22: 22rem;
    --space-24: 24rem;
    --space-26: 26rem;
    --space-28: 28rem;
    --space-30: 30rem;
    --space-32: 32rem;
    --space-34: 34rem;
    --space-36: 36rem;
    --space-38: 38rem;
    --space-40: 40rem;
    --space-42: 42rem;
    --space-44: 44rem;
    --space-46: 46rem;
    --space-48: 48rem;
    --space-50: 50rem;
    --space-52: 52rem;
    --space-54: 54rem;
    --space-56: 56rem;
    --space-58: 58rem;
    --space-60: 60rem;
    --space-62: 62rem;
    --space-64: 64rem;
    --space-66: 66rem;
    --space-68: 68rem;
    --space-70: 70rem;
    --space-72: 72rem;
    --space-74: 74rem;
  }
  


.pageContainer {
  margin-top: var(--space-10) ;
 }


li {
  list-style: none;
}
p {
  padding: 0;
  margin: 0;
}

/* MARGIN-TOP */
.space-top-1 {
  margin-top: 2rem;
  /* 10px to 2rem */
}

.space-top-3 {
  margin-top: 4rem;
  /* 20px to 4rem */
}

.space-top-5 {
  margin-top: 6rem;
  /* 30px to 6rem */
}

.space-top-7 {
  margin-top: 8rem;
  /* 40px to 8rem */
}

.space-top-9 {
  margin-top: 10rem;
  /* 50px to 10rem */
}

.space-top-11 {
  margin-top: 12rem;
  /* 60px to 12rem */
}

.space-top-13 {
  margin-top: 14rem;
  /* 70px to 14rem */
}

.space-top-15 {
  margin-top: 16rem;
  /* 80px to 16rem */
}

.space-top-17 {
  margin-top: 18rem;
  /* 90px to 18rem */
}

.space-top-19 {
  margin-top: 20rem;
  /* 100px to 20rem */
}

/* Continue the pattern as needed */
.space-top-21 {
  margin-top: 22rem;
  /* 110px to 22rem */
}

.space-top-23 {
  margin-top: 24rem;
  /* 120px to 24rem */
}

.space-top-25 {
  margin-top: 26rem;
  /* 130px to 26rem */
}

/* MARGIN-BOTTOM */

.space-bottom-1 {
  margin-bottom: 2rem;
  /* 10px to 2rem */
}

.space-bottom-3 {
  margin-bottom: 4rem;
  /* 20px to 4rem */
}

.space-bottom-5 {
  margin-bottom: 6rem;
  /* 30px to 6rem */
}

.space-bottom-7 {
  margin-bottom: 8rem;
  /* 40px to 8rem */
}

.space-bottom-9 {
  margin-bottom: 10rem;
  /* 50px to 10rem */
}

.space-bottom-11 {
  margin-bottom: 12rem;
  /* 60px to 12rem */
}

.space-bottom-13 {
  margin-bottom: 14rem;
  /* 70px to 14rem */
}

.space-bottom-15 {
  margin-bottom: 16rem;
  /* 80px to 16rem */
}

.space-bottom-17 {
  margin-bottom: 18rem;
  /* 90px to 18rem */
}

.space-bottom-19 {
  margin-bottom: 20rem;
  /* 100px to 20rem */
}

/* Continue the pattern as needed */
.space-bottom-21 {
  margin-bottom: 22rem;
  /* 110px to 22rem */
}

.space-bottom-23 {
  margin-bottom: 24rem;
  /* 120px to 24rem */
}

.space-bottom-25 {
  margin-bottom: 26rem;
  /* 130px to 26rem */
}
.imageRound {
  border-radius: 10px;
}


