.header {
  padding-inline: 3em;
  padding-block: 1em;
  font-family: inherit;
}
.nav {
  justify-content: space-between;
}
.navLeft {
  gap: 2em;
}
.leftMenuList {
  gap: 1.3em;
}
.userMenu {
}
.leftMenu {
}
.logo {
}
.navRight {
}
.userMenu {
}
.profileButton {
}
.navLink {
  color: #000;
  text-decoration: none;
}
