.logo {
  text-decoration: none;
  margin-bottom: 6px;
  font-weight: 200;

  color: #fff;
  padding: 3px;
  border-radius: 4px;
}
.navLink {
  color: #fff;
  text-decoration: none;
}
.navLink:hover{
  color: var(--secondary-color)
}