.header {
  margin-inline: auto;
  /* background: var(--color-golden) */
}
.header svg {
  font-size: 20px;
}

.nav {
  padding-inline: 3em;
  padding-block: 1.5em;
  max-width: 1260px;
  margin: 0 auto;
}
.navLeft {
  margin-left: 5em;
}
.leftMenuList {
  gap: 1.6em;
}
.leftMenuList li:hover {
  border-bottom: 2px solid var(--color-black);
  box-sizing: border-box;
  padding-top: 2px;
}

.navRight {
  position: relative;
  margin-left: auto;
}
.navRight svg {
  cursor: pointer;
  position: relative;
  z-index: 200;
}
.userMenu {
  padding: 1em;
  position: absolute;
  top: 76px;
  padding-top: 10px;
  right: 0px;
  width: 200px;
  background: var(--color-golden)
}
.listItem {
  margin-top: 1em;
  padding-inline: 0.5em;
  justify-content: space-between;
  cursor: pointer;
}
.listItem:hover a {
  color: var(--light-gray);
}

.listItem button {
  outline: none;
  width: 100%;
  border: none;
  background: transparent;
  padding: 0;
}
.listItem svg {
  fill: var(--color-dark);
}

.userMenu a {
  text-decoration: none;
  color: #000;
  width: 100%;
}
.profileButton {
  background: transparent;
  outline: none;
  border: none;
}
.navLink {
  color: inherit;
  text-decoration: none;
  font-size: 0.9em;
}

.listItemContent {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
