.mobileList {
    padding-inline: 2em;
    padding-block: 2em;
    display: flex;
    flex-direction: column;
    gap: .7em;
}
.listItem {
    justify-content: space-between;
}
.listItem a {
    color: #000;
}

.listItem a:hover {
    color: var(--light-gray);
}