.mobileList {
    padding-inline: 2em;
    padding-block: 2em;
    padding-top: 4em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.listItem {
    justify-content: space-between;
    cursor: pointer;
}
.listItem a {
    color: var(--color-white);
    gap: .7em;
}

.listItem a:hover {
    color: var(--light-gray);
}